{% extends "base.html" %}

{% block head_title %}Restaurant Scorecard{% endblock %}

{% block content %}
    <script type='text/javascript' src='http://70.35.203.217/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1100px; height: 900px;'>
        <object class='tableauViz' width='1100' height='900' style='display:none;'>
            <param name='host_url' value='http%3A%2F%2F70.35.203.217%2F'/>
            <param name='embed_code_version' value='3'/>
            <param name='site_root' value='&#47;t&#47;TipBumpDemo'/>
            <param name='name' value='tipbump&#47;UnitlevelServerDashboard'/>
            <param name='tabs' value='no'/>
            <param name='toolbar' value='no'/>
            <param name='showAppBanner' value='false'/>
            <param name='filter' value='iframeSizedToWindow=true'/>
            <param name='render' value='false'/>
        </object>
    </div>

{% endblock %}